<%= form_for(@ankle) do |f| %>
  <% if @ankle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ankle.errors.count, "error") %> prohibited this ankle from being saved:</h2>

      <ul>
      <% @ankle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>
