<%= form_for(@ankle) do |f| %>

    <%= f.label :image %>
    <div id='preview_field'></div>
    <%= f.file_field :image, onchange:"preview(this)" %>

    <%= f.submit class: "btn btn-large btn-primary"%>
<% end %>

<%= link_to 'Back', ankles_path, class: "footerlink" %>
