<h1 id='question'>Which one do you like?</h1>

<%= form_for(@battle) do |f| %>
    <% if @battle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

          <ul>
            <% @battle.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= hidden_field_tag :ankle_a_id, @ankle_a.id %>
    <%= hidden_field_tag :ankle_b_id, @ankle_b.id %>
    <%= f.submit :type => :image, :src => @ankle_a.image_url, :name => 'a', class: "col-xs-6" %>
    <%= f.submit :type => :image, :src => @ankle_b.image_url, :name => 'b', class: "col-xs-6" %>
<% end %>

<div id="follow_form">
  <% if current_user.favorites.where(:ankle_id => @ankle_a.id).blank? %>
    <%= render 'follow' %>
  <% else %>
    <%= render 'followed' %>
  <% end %>
  <% if current_user.favorites.where(:ankle_id => @ankle_b.id).blank? %>
    <%= render 'follow' %>
  <% else %>
    <%= render 'followed' %>
  <% end %>
</div>
<br>

<%= link_to 'Back', root_path, class: "footerlink" %>
