<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "anklebsh", root_path, id: "logo", class: "navbar-brand" %>
      <% if current_user %>
          <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-text="My ankle score is <%= current_user.ankles.where(:is_avatar => true).first.score %>" data-url="<%= user_url(current_user) %>" data-counturl="<%= root_url %>">Tweet</a>
      <% else %>
          <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-text="Let's measure our ankle score on Anklebsh" data-url="<%= root_url %>" data-counturl="<%= root_url %>">Tweet</a>
      <% end %>
      <!-- [head]内や、[body]の終了直前などに配置 -->
      <script>
          window.twttr = (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
              if (d.getElementById(id))return;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
              t._e = [];
              t.ready = function (f) {
                  t._e.push(f);
              };
              return t;
          }(document, "script", "twitter-wjs"));
      </script>
    </div>

    <div class="collapse navbar-collapse" id="nav-menu-4">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Ranking!!!", root_path %></li>
        <li><%= link_to "Battle", new_battle_path %></li>
        <li><%= link_to "New Ankle", new_ankle_path %></li>
        <li class="divider"></li>
        <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
